.contents
  .contents__chat--profile
    .contents__chat--profile__info
      .contents__chat--profile__info__name
        = @group.name
      .contents__chat--profile__info__id
        - @group.users.each do |user|
          =user.name
    .contents__chat--profile__sub
      .contents__chat--profile__sub__edit
        = link_to edit_group_path(@group), class: "contents__chat--profile__sub__edit__push" do
          Edit
  .contents__chat--main
    =render @messages

  .contents__chat--form
    = form_for [@group, @message], html: { class: "contents__chat--form__message" } do |f|
      = f.text_field :content, class: 'contents__chat--form__message__main', placeholder: 'type a message'
      .contents__chat--form__message__picture
        = f.label :image, class: 'contents__chat--form__message__picture__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'contents__chat--form__send'