.header
  .header__side--bar
    .header__side--bar__profile
      .header__side--bar__profile__name
        = current_user.name
      .header__side--bar__profile__icons
        = link_to "#", class: "header__side--bar__profile__icons__edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "header__side--bar__profile__icons__cog" do
          = icon('fa', 'cog')
  
  .header__side--main
    .header__side--main__list
      .header__side--main__list__group
        mori
      .header__side--main__list__comment
        message